.btn {
  width: 50px;
  border: none;
  border-radius: 5px;
  padding: 5px;

  cursor: pointer;
  font-size: 16px;
}

.save {
  margin-top: 5px;

  color: white;
  background-color: $medium-green;
}

.arrow {
  margin-right: 5px;

  cursor: default;
  color: orange;
}
